.portfolio-example{
   width: 45%;
   border: 1px solid white;
   margin: 20px 0;
   background-color: aliceblue;
}
.portfolio-example__img-div{
   width: 100%;
   height: 250px;

}
.portfolio-example__img{
   width: 100%;
   height: 250px;
}