.section-second {
   position: relative;
   margin: 40px 0;
   padding: 20px;
   border-radius: 40px;
   background-color: rgb(179, 173, 173);
   font-size: 33px;
   color: white;
   z-index: 30;
}

.section-second__wrapper {}

.section-second__title {
   text-align: center;
}

.section-second__list {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 20px 0;
   z-index: 30;
}